<h2>🚨 New User Inquiry</h2>

<ul>
  <li>Name: <%= data.name %></li>
  <li>Email: <%= data.email %></li>
  <li>Phone: <%= data.phone %></li>
  <li>Place: <%= data.place %></li>
  <li>Date: <%= data.date %></li>
  <li>Passengers: <%= data.passengers %></li>
  <li>Message: <%= data.message %></li>
</ul>