<!DOCTYPE html>
<html>
<body style="font-family: Arial;">
  <% if(isClient){ %>
    <h2>Thank You <%= data.name %> 🙌</h2>
    <p>Our team will connect with you very soon.</p>
  <% } else { %>
    <h2>New Enquiry Received 🚀</h2>
    <p><b>Name:</b> <%= data.name %></p>
    <p><b>Email:</b> <%= data.email %></p>
    <p><b>Phone:</b> <%= data.phone %></p>
    <p><b>Place:</b> <%= data.place %></p>
    <p><b>Date:</b> <%= data.date %></p>
    <p><b>Message:</b> <%= data.message %></p>
  <% } %>
</body>
</html>